<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="testFileNameProvider" class="ru.otus.homework.config.AppProperties">
        <constructor-arg value="questions.csv"/>
    </bean>
    
    <bean id="dao" class="ru.otus.homework.dao.CsvQuestionDao">
        <constructor-arg ref="testFileNameProvider"/>
    </bean>

    <bean id="ioService" class="ru.otus.homework.service.StreamsIOServiceImpl">
        <constructor-arg index="0">
            <util:constant static-field="java.lang.System.out"/>
        </constructor-arg>
    </bean>

    <bean id="outputConsoleService" class="ru.otus.homework.service.OutputConsoleServiceImpl">
        <constructor-arg ref="ioService"/>
    </bean>
    
    <bean id="testService" class="ru.otus.homework.service.TestServiceImpl">
        <constructor-arg ref="outputConsoleService"/>
        <constructor-arg ref="dao"/>
    </bean>
    
    <bean id="testRunnerService" class="ru.otus.homework.service.TestRunnerServiceImpl">
        <constructor-arg ref="testService"/>
    </bean>

</beans>