<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="add-form" action="books/add.html" th:method="post" th:action="@{/books/add}" th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="Book Title" th:value="*{title}"/>
    </div>

    <div class="row">
        <label for="book-author-select">Author:</label>
        <select id="book-author-select" th:field="*{author}" class="form-control">
            <option th:each="author : ${authors}"
                    th:text="${author.fullName}"
                    th:value="${author.id}">Author</option>
        </select>
    </div>

    <div class="row">
        <label for="book-genre-select">Author:</label>
        <select id="book-genre-select" th:field="*{genre}" class="form-control">
            <option th:each="genre : ${genres}"
                    th:text="${genre.name}"
                    th:value="${genre.id}">Author</option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/books}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>

</body>
</html>
